<h1><%= @article.title %></h1>
<p><%= @article.content %></p>
<p><%= link_to "Edit article", edit_article_path(@article), class:"btn btn-primary" %></p>
<p><%= link_to "Delete article", article_path(@article), class:"btn btn-primary", method: :delete, data: { confirm: "Are you sure?" } %></p>
